main, .container-fluid{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

div#toc-container{
  width: 300px;
  padding: 20px;
  border: 1px solid gray;
  background-color: rgb(210, 232, 247);
  box-sizing: border-box;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  position: sticky;
  top: 20px;
  order: 2;
  margin-left: 20px;
}
#article {
  flex: 1; /* 残りの幅を全部使う */
  min-width: 300px; /* スマホで潰れないように */
  order: 1; /* PCでは左側 */
}

#toc-container::-webkit-scrollbar {
  width: 6px;
}
#toc-container::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;
}

@media (max-width: 990px){
  div#toc-container {
    width: 100%; /* 横幅いっぱい */
    height: auto;
    max-height: none;
    order: -1; /* 記事の上に配置 */
    position: relative;
    top: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

li.indent {
  text-indent: 1em;
  border-left: solid 1px silver;
  padding-left: 1rem;
  position: relative;
  box-sizing: border-box;
}

h2{
  color: #364e96;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #364e96;/*上線*/
  border-bottom: solid 3px #364e96;/*下線*/
}

h3 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

h3:before, h3:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}

h3:before {
  left:0;
}
h3:after {
  right: 0;
}
